@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  background: #404040;
  color: antiquewhite;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

/*Detials
--------------------------------------------------------------*/
.serviceForm {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.label {
  font-size: 1.2 rem;
}

input {
  background-color: dimgray;
}

#submitButton {
  color: antiquewhite;
  background-color: blueviolet;
  width: 10rem;
  height: 3rem;
  margin: 2rem 0;
  padding: 0.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  background-color: dimgray;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

li p {
  flex-basis: 60%;
  margin: 0;
  padding: 0.5rem;
}

/*
感受:
  整体
    整个serviceForm section(包括field和button)是flex,而且是一个一行;
    整个field(包括lable和input)也是flex,而且也是一个一行;
    field之间/上下要有margin
    button上下也要有margin
  
  细节
    button的细节:要有padding,这样button比文字大; 
    button左右不需要margin, 这样button是左对齐;

*/

/*
ul 
去掉圆点
去掉每行缩进

li
增加上下margin
增加四周padding

*/

/*
li p 是为了固定文字/dropdown/delete button三者的位置
*/